body {
	margin: 3rem;
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
		'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
		sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	background: #444444;
	color: white;
}

code {
	font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
		monospace;
}

label {
	font-size: 1.5rem;
}

select {
	font-size: 1.5rem;
	padding: 0.5rem;
	border: 2px solid white;
	border-radius: 0.5rem;
	background-color: #444444;
	color: white;
}

select:focus {
	outline: none;
}

.control {
	margin: 1.5rem 2px;
	display: inline-block;
	width: 15rem;
	height: 4rem;
	padding: 28px 0 0 0;
	text-align: center;
	cursor: pointer;
	font-size: 1.5rem;
	border: 2px solid white;
	border-radius: 0.5rem;
	transition: border 0.2s ease-out, box-shadow 0.2s ease-out;
}

.trigger-area {
	background-color: transparent;
	-webkit-user-select: none; /* Chrome  / Safari */
	-moz-user-select: none; /* Firefox all */
	-ms-user-select: none; /* IE 10+ */
	user-select: none; /* Likely future */
}

.trigger-area:hover {
	border: 2px solid palegreen;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.trigger-area.active {
	background: #2f5065;
}

.reset:hover {
	border: 2px solid palevioletred;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.stage {
	text-align: left;
	margin-top: 1rem;
	background: rgba(0, 0, 0, 0.2);
	height: 165px;
}

.stage h3 {
	margin: 10px 0 5px 0;
	clear: both;
	font-weight: normal;
	font-size: 14px;
	padding: 6px 20px;
}

.events {
	padding: 0px 20px 10px 20px;
	height: 20px;
}

.events span {
	height: 17px;
	width: 6px;
	display: inline-block;
	border-right: 1px solid #111;
}
